@import "~antd/dist/antd.css";
/* @import '~antd/lib/style/themes/default.less'; */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #e6f7ff;
}

.heading {
  text-align: center;
  margin: 0rem auto;
  font-weight: bold;
  color: white;
}

.completed {
  text-decoration: line-through;
}

.layout {
  height: 100vh;
  width: 100vw;
}

.list {
  margin-top: 2rem;
  /*   display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center; */
}

.task {
  list-style-type: none;
}

.form {
  margin-top: 4.5rem;
}

.counter-container {
  position: relative;
  top: 3.2rem;
  left: 3rem;
  overflow: hidden;
}

.add-button {
  background-color: #1890ff;
  margin: 0 auto;
}

.show-buttons {
  text-align: center;
  margin-top: 3rem;
  overflow: hidden;
}

.row-container {
  margin: 0 auto;
  width: 60%;
  background-color: #91d5ff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.row-container:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.col-container {
  display: flex;
  justify-content: center;
  gap: 0rem;
}

.show-active,
.show-completed,
.show-all {
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 14rem;
  background-color: #001529;
}

.icon {
  color: white;
}

.icon:hover {
  transform: scale(2);
}
